---
import "../styles/global.css";
import PrimarySiteLayout from "../layouts/PrimarySiteLayout.astro";
---

<PrimarySiteLayout>
  <div class="grid grid-cols-4 gap-3">
    <!-- first row -->
    <!-- introduction card -->
    <div class="card-container flex col-span-full lg:col-span-3">
      <div class="text-dual-mode text-lg md:text-xl md:flex-2/3">
        <h1
          id="intro-greetings"
          class="text-xl md:text-2xl font-light text-transparent bg-clip-text bg-gradient-to-br from-red-500 from-30% via-fuchsia-500 via-50% to-emerald-500 to-90%"
          style="text-shadow: 1px 1px 2px rgb(124, 185, 201);animation: text-background-animation 2s linear 0s infinite both;"
        >
          Hello, This is <span class="font-bold">Arvind</span>
        </h1>
        <div class="my-4">
          <ul class="">
            <li>👨🏻‍💻 Software Developer | Open Source Advocate</li>
            <li>🌩️ Cloud Certified | AWS | GCP</li>
            <li>
              🏛️ Bachelor's in Comp Science | Master's in Sustainable
              Management.
            </li>
          </ul>
        </div>
        <div class="my-4">
          <ul>
            <li>🌆 Based in Toronto, Canada</li>
            <li>🏝️ Beach Lover</li>
            <li>🎹 Amateur Keyboard Meddler</li>
          </ul>
        </div>
      </div>
      <div
        class="hidden md:flex md:flex-1/3 bg-[url('/arvind-portfolio-website/arvind-image.jpeg')] border border-red-600 bg-center"
      >
      </div>
    </div>
    <div
      class="card-container row-span-1 col-span-full sm:col-span-2 lg:col-span-1 lg:row-span-2"
    >
      <div>
        <h1 class="card-title">War Room</h1>
        <span class="card-sub-title"
          >A warrior needs the right set of tools</span
        >
      </div>
      <p
        class="card-regular-description my-3 pb-4 border border-transparent border-b-black/20"
      >
        I enjoy automating tasks and reduce the burden for people to make lives
        easier and also provide more time for the things they like to do.
      </p>
      <p class="card-sub-title">My weapons of choice 🛠️ 🔩 🪚 🪛</p>
      <ul class="card-light-description my-2 px-4 list-disc">
        <a href=""><li>React</li></a>
        <a href=""><li>Javascript</li></a>
        <a href=""><li>HTML</li></a>
        <a href=""><li>CSS</li></a>
        <a href=""><li>Node.js</li></a>
        <a href=""><li>Java</li></a>
        <a href=""><li>Spring</li></a>
        <a href=""><li>Spring Boot</li></a>
        <a href=""><li>Typescript</li></a>
        <a href=""><li>Vue.js</li></a>
      </ul>
      <span class="card-sub-title"
        >More about my projects on <a class="link-highlight">github</a> and <a
          class="link-highlight">experiences</a
        ></span
      >
    </div>

    <!-- second row - Projects -->
    <div
      class="card-container row-span-1 col-span-full sm:col-span-2 lg:col-span-1 lg:row-span-2"
    >
      <div>
        <h1 class="card-title">Projects</h1>
      </div>
      <div class="my-4 flex flex-col gap-4">
        <div>
          <h3 class="text-highlight">Build your own lyrics (Song Generator)</h3>
          <p class="card-light-description">
            Create your own tunes per your taste that you always wanted to
            build.
          </p>
          <span class="card-sub-title">30 March, 2025</span>
        </div>
        <div>
          <h3 class="text-highlight">NextBigTide.net</h3>
          <p class="card-light-description">
            Get alerts on the next big breakthrough stock and track their
            returns
          </p>
          <span class="card-sub-title">12 February, 2025</span>
        </div>
        <div>
          <h3 class="text-highlight">CompanyAncestry.com</h3>
          <p class="card-light-description">
            Identify the ancestors of a young company based on where the
            employees worked in the past
          </p>
          <span class="card-sub-title">24 November, 2024</span>
        </div>
        <div>
          <h3 class="text-highlight">TectonicShifts.unveil</h3>
          <p class="card-light-description">
            Observe the changes in the countries due to changing immigration
          </p>
          <span class="card-sub-title">31 May, 2024</span>
        </div>
      </div>
    </div>
    <div
      class="card-container flex flex-col gap-3 row-span-1 col-span-full sm:col-span-2 lg:col-span-1"
    >
      <h4 class="card-title">My Time</h4>
      <div class="flex gap-3">
        <div id="my-time-full-date" class="card-light-description"></div>
        <div
          class="h-4 w-4 rounded-full bg-green-600 animate-pulse ring-1 ring-green-400 ring-offset-2 ring-offset-transparent"
        >
        </div>
      </div>
      <div id="my-time-hours" class="card-sub-title"></div>
      <!-- <div id="my-time-locale" class="card-light-description"></div> -->
    </div>
    <div
      class="card-container flex flex-col gap-3 row-span-1 col-span-full sm:col-span-2 lg:col-span-1"
    >
      <h4 class="card-title">My Time</h4>
      <div class="flex gap-3">
        <div id="my-time-full-date" class="card-light-description"></div>
        <div
          class="h-4 w-4 rounded-full bg-green-600 animate-pulse ring-1 ring-green-400 ring-offset-2 ring-offset-transparent"
        >
        </div>
      </div>
      <div id="my-time-hours" class="card-sub-title"></div>
      <!-- <div id="my-time-locale" class="card-light-description"></div> -->
    </div>
    <div class="col-span-1">Arthur dent</div>
    <div class="col-span-1 h-52">Rick 7 Morty</div>
    <div class="col-span-1">Arthur dent</div>

    <!-- Professional Experience -->
    <div
      class="card-container row-span-1 col-span-full sm:col-span-2 lg:col-span-1 lg:row-span-3"
    >
      <h4 class="card-title">Professional Experience</h4>
      <div class="my-4 flex flex-col gap-3">
        <div class="flex flex-col gap-1">
          <h4 class="text-dual-mode text-lg">
            Senior React / Frontend Developer
          </h4>
          <p class="card-regular-description text-blue-300">
            Walmart (Contractor through TekSystems)
          </p>
          <div class="card-sub-title">Reston, VA</div>
          <div class="card-sub-title">Nov 2021 - Present</div>
        </div>
        <hr class="text-black/10" />
        <div class="flex flex-col gap-1">
          <h4 class="text-dual-mode text-lg">Senior UI Developer</h4>
          <p class="card-regular-description text-blue-300">
            Cerberus Technological Solutions (Contractor through KForce)
          </p>
          <div class="card-sub-title">New York City</div>
          <div class="card-sub-title">Mar 2020 - Oct 2021</div>
        </div>
        <hr class="text-black/10" />
        <div class="flex flex-col gap-1">
          <h4 class="text-dual-mode text-lg">Junior React Developer</h4>
          <p class="card-regular-description text-blue-300">
            Nationstar Mortgage Services
          </p>
          <div class="card-sub-title">Chennai, India</div>
          <div class="card-sub-title">Jan 2019 - Mar 2020</div>
        </div>
        <hr class="text-black/10" />
      </div>
    </div>
    <div class="card-container col-span-2 row-span-2">Kratos</div>
    <div
      class="card-container row-span-1 col-span-full sm:col-span-2 lg:col-span-1 lg:row-span-3"
    >
      <h4 class="card-title">My Reading List</h4>
      <div class="my-4 flex flex-col gap-3">
        <ul class="flex flex-col gap-2 list-disc pl-3">
          <li>
            <div class="flex flex-col gap-1">
              <p class="text-dual-mode text-lg">The Sirens of Titan</p>
              <div class="card-sub-title text-blue-300">by Kurt Vonnegut</div>
            </div>
          </li>
		  <hr class="text-black/10" />
		  <li>
            <div class="flex flex-col gap-1">
              <p class="text-dual-mode text-lg">Sunrise on the Reaping</p>
              <div class="card-sub-title text-blue-300">by Suzanne Colins</div>
            </div>
          </li>
		  <hr class="text-black/10" />
		  <li>
            <div class="flex flex-col gap-1">
              <p class="text-dual-mode text-lg">Catching Fire</p>
              <div class="card-sub-title text-blue-300">by Suzanne Colins</div>
            </div>
          </li>
		  <hr class="text-black/10" />
		  <li>
            <div class="flex flex-col gap-1">
              <p class="text-dual-mode text-lg">The Hitchhiker's Guide to the Galaxy
			</p>
              <div class="card-sub-title text-blue-300">by Douglas Adams</div>
            </div>
          </li>
		  <hr class="text-black/10" />
		  <li>
            <div class="flex flex-col gap-1">
              <p class="text-dual-mode text-lg">Dune</p>
              <div class="card-sub-title text-blue-300">Frank herbert</div>
            </div>
          </li>
		  <hr class="text-black/10" />
        </ul>
      </div>
    </div>
    <div class="card-container col-span-2 row-span-1">Majoras Mask</div>
  </div>
</PrimarySiteLayout>

<script>
  const fullDate = new Date();
  const fullDateDisplay = document.querySelector("#my-time-full-date");
  const hoursDisplay = document.querySelector("#my-time-hours");
  const localeDisplay = document.querySelector("#my-time-locale");

  if (fullDateDisplay) {
    fullDateDisplay.innerHTML = fullDate.toDateString();
  }

  if (hoursDisplay) {
    hoursDisplay.innerHTML = fullDate.toTimeString();
  }

  const locale = new Intl.Locale("en-US");
  if (localeDisplay) {
    localeDisplay.innerHTML = locale.getTimeZones();
  }
</script>
