---
import {appConfig} from '../config/appConfig';

---

<header
  class="fixed w-full backdrop-blur-lg header-footer border border-transparent border-b-black/10"
>
  <div class="header-footer-container">
    <a href="/arvind-portfolio-website"
      ><span
        class="text-xl md:text-2xl font-bold tracking-tight dark:text-white/90"
        >Arvind Maximus</span
      ></a
    >
    <nav>
      <ul class="flex gap-4 items-center">
        {
          appConfig.siteNavOptions.map((navOption) => (
            <a href={`/arvind-portfolio-website/${navOption.href}`}>
              <li class="text-sm md:text-lg text-dual-mode">
                {navOption.label}
              </li>
            </a>
          ))
        }
        <button id="theme-selector" class="" onclick={"setTheme()"}>
          <div
            class="px-2 py-1 dark:bg-gray-800 border border-black/10 dark:border-gray-700 rounded-lg"
          >
            <i class="fa-regular fa-moon h-3.5 w-3.5 dark:text-white"></i>
          </div>
        </button>
      </ul>
    </nav>
  </div>
</header>

<script>
  function setTheme() {
    const htmlElement = document.querySelector("html");
    htmlElement?.classList.toggle("dark");
  }

  const toggleTheme = document.querySelector("button");
  toggleTheme?.addEventListener("click", setTheme);
</script>
